<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="welcome">
    <%- include("header.ejs") %>

    <main>
        <h1> Welcome to your Blogs</h1>
        <p> Your own space to write & share. </p>

       <% if(posts == 0) { %>
            <p class="no-posts">No posts yet. Start by creating one!</p>
            <a href="/newblog" class="new-blog-btn">Create New Blog</a>
       <% }else{ %>
            <ul class="blog-list">
                <% posts.forEach(post => { %>
                    <l1 class="blog-item">
                        <small><%= post.date %></small>
                        <h2><%= post.title %></h2>
                        <p><%= post.content.substring(1,50) %></p>             
                        <a href="/post/<%= post.id %>" class="read-more">Read more</a>
                        <a href="/edit/<%= post.id %>" class="edit">Edit</a>

                        <!-- Edit & Delete button -->
                         <form action="/delete/<%= post.id %>" method="POST">
                            <button type="submit" class="delete">Delete</button>
                         </form>
                    </l1>
                <% }) %>
                
            </ul>
            <a href="/newblog" class="new-blog-btn">Create New Blog</a>
        <% } %>



    </main>

    <%- include("footer.ejs") %>

</body>
</html>





