<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title><%= post.title %></title>
</head>
<body class="post-details">
    <%- include("header.ejs") %>

    <main class="post-container">
        <h1><%= post.title %></h1>
        <p class="post-meta"> Published on <%= post.date %></p>
        <p><%= post.content %></p>
        <a href="/" class="back-btn">← Back to Home</a>
    </main>

    <%- include("footer.ejs") %>
</body>
</html>
